Language: Cpp                                         # 编程语言
AccessModifierOffset: -4                              # 访问说明符(public、private等)的偏移（相对于原来已有的缩进而言）
AlignAfterOpenBracket: BlockIndent                    # 开括号(开圆括号、开尖括号、开方括号)后的对齐
AlignConsecutiveMacros: true                          # 连续宏定义对齐
AlignConsecutiveAssignments: false                    # 连续赋值时，对齐所有等号
AlignConsecutiveDeclarations: false                   # 连续声明对齐
AlignEscapedNewlines: DontAlign                       # 对齐分割语法行的斜杠符\
AlignOperands: false                                  # 竖直对齐表达式的操作数
AlignTrailingComments: true                           # 对齐尾注释
AllowAllArgumentsOnNextLine: false                    # 允许所有参数在下一行
AllowAllConstructorInitializersOnNextLine: false      # 允许所有构造函数初始化在下一行
AllowAllParametersOfDeclarationOnNextLine: false      # 允许声明的所有参数在下一行
AllowShortBlocksOnASingleLine: Empty                  # 允许短语法块在单行上
AllowShortCaseLabelsOnASingleLine: false              # 允许短case标签在单行上
AllowShortFunctionsOnASingleLine: Empty               # 允许短函数在单行上
AllowShortIfStatementsOnASingleLine: Never            # 允许短if语句在单行上
AllowShortLambdasOnASingleLine: All                   # 允许短lambda在单行上
AllowShortLoopsOnASingleLine: false                   # 允许短循环在单行上
AlwaysBreakAfterReturnType: None                      # 总是在返回类型后换行
AlwaysBreakBeforeMultilineStrings: true               # 总是在多行字符串前换行
AlwaysBreakTemplateDeclarations: Yes                  # 总是在模板声明前换行
BinPackArguments: false                               # 装箱变量（true：把函数调用变量合理打包放在一行上）
BinPackParameters: false                              # 装箱声明参数（true：把函数声明的参数或者函数定义的参数合理打包放在一行上）
BreakBeforeBinaryOperators: NonAssignment             # 二元操作符断行风格
BreakBeforeBraces: Custom                             # 大括号断行风格
BreakBeforeTernaryOperators: true                     # 三元操作符断行风格
BraceWrapping:                                        # 大括号包装(指定大括号在代码中的使用方式等)
  AfterControlStatement: MultiLine                    # 控制语句后（指示控制语句（如 if、else、for 等）之后的换行规则）
  AfterEnum: false                                    # 枚举后
  AfterStruct: false                                  # 结构体后
  SplitEmptyFunction: false                           # 空函数分割
BreakConstructorInitializers: AfterColon              # 构造函数初始化断行风格
BreakInheritanceList: AfterColon                      # 继承链断行风格
BreakStringLiterals: false                            # 字符串断行风格
ColumnLimit: 0                                        # 列数限制（0：不限制）
CompactNamespaces: false                              # 紧凑命名空间
ConstructorInitializerAllOnOneLineOrOnePerLine: true  # 构造函数初始化断行风格（已弃用）
ConstructorInitializerIndentWidth: 4                  # 构造函数初始化缩进宽度
ContinuationIndentWidth: 4                            # 续行缩进宽度
Cpp11BracedListStyle: false                           # 大括号列表风格
DerivePointerAlignment: false                         # 指针对齐
FixNamespaceComments: true                            # 修复命名空间注释
IncludeBlocks: Preserve                               # include块风格
IncludeIsMainRegex: '([-_](test|unittest))?$'         # include主要正则表达式
IndentCaseLabels: true                                # case标签缩进
IndentPPDirectives: BeforeHash                        # 预处理指令缩进
IndentWidth: 4                                        # 缩进宽度
IndentWrappedFunctionNames: false                     # 缩进包装函数名
KeepEmptyLinesAtTheStartOfBlocks: false               # 保留块开始的空行
MaxEmptyLinesToKeep: 1                                # 最大空行数
NamespaceIndentation: Inner                           # 命名空间缩进
PointerAlignment: Left                                # 指针对齐风格
ReflowComments: false                                 # 重排版注释
SortIncludes: true                                    # 排序include
SortUsingDeclarations: true                           # 排序using声明
SpaceAfterCStyleCast: false                           # 是否在c风格的类型转换之后插入空格
SpaceAfterLogicalNot: false                           # 是否在逻辑!操作符后面插入空格
SpaceAfterTemplateKeyword: false                      # 是否在模板关键字template后插入空格
SpaceBeforeAssignmentOperators: true                  # 是否在赋值操作符前插入空格
SpaceBeforeCpp11BracedList: true                      # 是否在c++11大括号列表前插入空格
SpaceBeforeCtorInitializerColon: false                # 是否在构造函数初始化冒号前插入空格
SpaceBeforeInheritanceColon: false                    # 是否在继承冒号前插入空格
SpaceBeforeParens: ControlStatements                  # 是否在圆括号前插入空格
SpaceBeforeRangeBasedForLoopColon: false              # 是否在基于范围的for循环冒号前插入空格
SpaceInEmptyParentheses: false                        # 是否在圆空括号内插入空格
SpacesBeforeTrailingComments: 1                       # 尾注释前的空格数
SpacesInAngles: false                                 # 尖括号内<>的空格
SpacesInCStyleCastParentheses: false                  # c风格类型转换圆括号内的空格
SpacesInContainerLiterals: false                      # 容器文字内的空格
SpacesInParentheses: false                            # 圆括号内的空格(true：在后面'('和前面')'插入空格)
SpacesInSquareBrackets: false                         # 方括号内的空格(true：在后面'['和前面']'插入空格)
Standard: c++17                                       # C++标准
UseTab: Never                                         # Tab的使用